.filter-bar {  

    .search-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

                .input-box {
                        width: 300px;
                        height: 30px;
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        border: 1px solid #595959;
                        margin-top: 12px;
                
                        img {
                            width: 16px;
                            height: 16px;
                        }
                
                        input {
                            flex: 1;
                            height: 20px;
                            border: none;
                            outline: none;
                            padding-left: 10px;
                            color: #D5D5D5
                        }

                        .search-dropdown {
                            width: 300px;
                            height: auto;
                            background-color: #1C1F25;
                            position: absolute;
                            top: 50px;
                            left: 0;
                            border-radius: 10px;
                            border: 1px solid #595959;
                            padding: 10px;
        
                            h5 {
                                color: white;
                                background: transparent;
                            }
        
                            ul {
                                display: flex;
                                flex-direction: column;
                                gap: 12px;
                                background-color: transparent;
                                margin-top: 12px;
                                color: #D5D5D5;
                            }
        
                            ul li {
                                display: flex;
                                justify-content: space-between;
                                background-color: transparent;
                                cursor: pointer;
                            }
        
                            ul li p {
                                background: transparent;
                            }
        
                            .empty-search {
                                background: transparent;
                                color: white;
                                text-align: center;
                                margin: 12px;
                            }
                        }
                    }

                button {
                    background: transparent;
                    padding: 8px;
                    color: #D5D5D5;
                    border: 1px solid #595959;
                    border-radius: 20px;
                    cursor: pointer;
                }
    }
    
    .added-symbols {
        margin-top: 16px;

        button {
            background: #595959;
                padding: 8px;
                color: #D5D5D5;
                border-radius: 8px;
                border: none;
                outline: none;
                cursor: pointer;
        }

        span {
            background: transparent;
        }
    }
}